header{
    
    .header-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .logo{
            margin: 13px 10px;
        }
        
        .navbar{
            
            ul{
                display: flex;
                
                li {
                    color: #484646;
                    padding: 12px;
                    list-style: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                    
                    &:hover{
                        color:#1e86ed;
                        border-bottom:2px solid #1e86ed;
                    }
                }
            }
        }
    }
}