.cards-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(190, 188, 22, 0.253);

    .card{
        margin:20px;
        width: 210px;
        padding:10px;
        border:2px solid black;
        
    }
}